defaults
    mode tcp
    timeout connect 5s
    timeout client 1h
    timeout server 1h

listen postgres_write
    bind *:5000
    option httpchk
    http-check expect status 200
    # Patroni répond 200 sur /master seulement si le nœud est Leader
    default-server inter 3s fall 3 rise 2
    server node1 pg-node1:5432 check port 8008
    server node2 pg-node2:5432 check port 8008
    server node3 pg-node3:5432 check port 8008

listen postgres_read
    bind *:5001
    option httpchk
    http-check expect status 200
    # Patroni répond 200 sur /replica si le nœud est un esclave
    default-server inter 3s fall 3 rise 2
    server node1 pg-node1:5432 check port 8008
    server node2 pg-node2:5432 check port 8008
    server node3 pg-node3:5432 check port 8008
